# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

###
### Project
###

/libccc.*
/libccc-test
/libccc-test*
/libccc_test-*

# Build
/obj/
/bin/
/dist/

# Testing
/coverage/
test/_test.c
pclint_*.*

# Logs
/log/coverage/
/log/**/*.log
/log/**/*.txt
/log/
/logs/
log.txt
*.log

# Documentation
/doc/_doxyrest/
/docs/hdr/
/docs/man/
/docs/rtf/
/docs/pdf/
/docs/xml/
/docs/rst/
/docs/latex/
/docs/docbook/
/docs/html/.doctrees

# Reference material
/ref/



###
### Language: C
###

# C intermediary build files
*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
# Libraries (static)
*.a
*.la
*.lo
*.lib
# Libraries (dynamic)
*.def
*.dll
*.so
*.so.*
*.dylib
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.stackdump
# Debug files
*.dSYM/
*.su
*.idb
*.pdb
# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf



###
### OS-specific files
###

# Linux

# MacOS
.DS-Store
.DS_Store

# Windows
Thumbs.db

# FAT32
.Trash-[0-9]*
.trashes
.spotlight-v[0-9]*



###
### IDE-specific files
###

*.code-workspace
# Sublime text
*.sublime-workspace
# Visual Studio
.vs/
# Visual Studio Code
.vscode/



###
### General files
###

# local environment variables files
.env
.env.dev
.env.test
.env.prod
.env.local
.env.dev.local
.env.test.local
.env.prod.local



# cccmk
.cccmk_diff_*/
.cccmk_update/
