# PROJECT

obj/
bin/
dist/
lint/
ref/
doc/_doxyrest/
docs/hdr/
docs/man/
docs/rtf/
docs/pdf/
docs/xml/
docs/rst/
docs/latex/
docs/docbook/
docs/html/.doctrees
log/coverage/
log/**/*.log
log/**/*.txt

libccc-test*
libccc_test*
pclint_*.*

test/_test.c



# OS/IDE

### Linux
### MacOS
.DS-Store
.DS_Store
### Windows

### Sublime text
*.sublime-workspace
### Visual Studio
.vs/
### Visual Studio Code
.vscode/



# C

### C intermediary build files
*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
### Libraries (static)
*.a
*.la
*.lo
*.lib
### Libraries (dynamic)
*.def
*.dll
*.so
*.so.*
*.dylib
### Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.stackdump
### Debug files
*.dSYM/
*.su
*.idb
*.pdb
### Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
