<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<string>++C: an extension to the C language</string>
	<key>name</key>
	<string>++C</string>
	<key>uuid</key>
	<string>F877A92F-3512-42FD-A0C8-EE9DE432A71F</string>
</dict>
</plist>
