/*
**	Monokai-style pygments CSS theme
*/

pre.highlight .hll	{ background-color: #49483E }
pre.highlight   	{ background: #272822 !important; color: #F8F8F2 !important; }

pre.highlight .err	{ background-color: #FFAAAA !important; color: #AA0000 !important; } /* Error */

pre.highlight .p	{ color: #F8F8F2 !important; } /* Text */
pre.highlight .w	{ color: #bbbbbb !important; } /* Text.Whitespace */

pre.highlight .o	{ color: #FD971F !important; } /* Operator */
pre.highlight .ow	{ color: #FD971F !important; font-weight: bold !important; } /* Operator.Word */

pre.highlight .c	{ color: #75715E !important; font-style: italic !important; } /* Comment */
pre.highlight .c1	{ color: #75715E !important; font-style: italic !important; } /* Comment.Single */
pre.highlight .cm	{ color: #75715E !important; font-style: italic !important; } /* Comment.Multiline */
pre.highlight .ch	{ color: #75715E !important; font-style: italic !important; } /* Comment.Hashbang */
pre.highlight .cs	{ color: #75715E !important; font-style: italic !important; font-weight: bold !important; } /* Comment.Special */
pre.highlight .cp	{ color: #F92672 !important; font-style: italic !important; } /* Comment.Preproc */
pre.highlight .cpf	{ color: #A6E22E !important; } /* Comment.PreprocFile */

pre.highlight .k	{ color: #F92672 !important; font-weight: bold !important; } /* Keyword */
pre.highlight .kc	{ color: #F92672 !important; font-weight: bold !important; } /* Keyword.Constant */
pre.highlight .kn	{ color: #F92672 !important; font-weight: bold !important; } /* Keyword.Namespace */
pre.highlight .kr	{ color: #F92672 !important; font-weight: bold !important; } /* Keyword.Reserved */
pre.highlight .kp	{ color: #006699 !important; } /* Keyword.Pseudo */
pre.highlight .kd	{ color: #66D9EF !important; font-weight: bold !important; } /* Keyword.Declaration */
pre.highlight .kt	{ color: #66D9EF !important; font-weight: normal !important; font-style: italic !important; } /* Keyword.Type */
pre.highlight .nc	{ color: #66D9EF !important; font-weight: normal !important; } /* Name.Class */

pre.highlight .n	{ color: #F8F8F2 !important; } /* Name */
pre.highlight .nl	{ color: #F8F8F2 !important; font-weight: bold !important; } /* Name.Label */
pre.highlight .nb	{ color: #AE81FF !important; font-weight: bold !important; } /* Name.Builtin */
pre.highlight .bp	{ color: #AE81FF !important; font-weight: bold !important; } /* Name.Builtin.Pseudo */
pre.highlight .no	{ color: #AE81FF !important; font-weight: bold !important; } /* Name.Constant */
pre.highlight .na	{ color: #F8F8F2 !important; font-weight: bold !important; } /* Name.Attribute */
pre.highlight .nd	{ color: #F8F8F2 !important; font-weight: bold !important; } /* Name.Decorator */
pre.highlight .nv	{ color: #F8F8F2 !important; font-weight: bold !important; } /* Name.Variable */
pre.highlight .vc	{ color: #F8F8F2 !important; font-weight: bold !important; } /* Name.Variable.Class */
pre.highlight .vg	{ color: #F8F8F2 !important; font-weight: bold !important; } /* Name.Variable.Global */
pre.highlight .vi	{ color: #F8F8F2 !important; font-weight: bold !important; } /* Name.Variable.Instance */
pre.highlight .vm	{ color: #F8F8F2 !important; font-weight: bold !important; } /* Name.Variable.Magic */
pre.highlight .ni	{ color: #F8F8F2 !important; font-weight: bold !important; } /* Name.Entity */
pre.highlight .ne	{ color: #F8F8F2 !important; font-weight: bold !important; } /* Name.Exception */
pre.highlight .nn	{ color: #F8F8F2 !important; font-weight: bold !important; } /* Name.Namespace */
pre.highlight .nt	{ color: #F8F8F2 !important; font-weight: bold !important; } /* Name.Tag */
pre.highlight .nf	{ color: #E6DB74 !important; font-weight: bold !important; } /* Name.Function */
pre.highlight .fm	{ color: #E6DB74 !important; font-weight: bold !important; } /* Name.Function.Magic */

pre.highlight .m	{ color: #AE81FF !important; } /* Literal.Number */
pre.highlight .mb	{ color: #AE81FF !important; } /* Literal.Number.Bin */
pre.highlight .mh	{ color: #AE81FF !important; } /* Literal.Number.Hex */
pre.highlight .mo	{ color: #AE81FF !important; } /* Literal.Number.Oct */
pre.highlight .mi	{ color: #AE81FF !important; } /* Literal.Number.Integer */
pre.highlight .il	{ color: #AE81FF !important; } /* Literal.Number.Integer.Long */
pre.highlight .mf	{ color: #AE81FF !important; } /* Literal.Number.Float */

pre.highlight .s	{ color: #A6E22E !important; } /* Literal.String */
pre.highlight .sa	{ color: #A6E22E !important; } /* Literal.String.Affix */
pre.highlight .sb	{ color: #A6E22E !important; } /* Literal.String.Backtick */
pre.highlight .sc	{ color: #A6E22E !important; } /* Literal.String.Char */
pre.highlight .dl	{ color: #A6E22E !important; } /* Literal.String.Delimiter */
pre.highlight .s2	{ color: #A6E22E !important; } /* Literal.String.Double */
pre.highlight .sh	{ color: #A6E22E !important; } /* Literal.String.Heredoc */
pre.highlight .sx	{ color: #A6E22E !important; } /* Literal.String.Other */
pre.highlight .s1	{ color: #A6E22E !important; } /* Literal.String.Single */
pre.highlight .sd	{ color: #A6E22E !important; font-style: italic !important; } /* Literal.String.Doc */
pre.highlight .se	{ color: #AE81FF !important; } /* Literal.String.Escape */
pre.highlight .si	{ color: #AA0000 !important; } /* Literal.String.Interpol */
pre.highlight .sr	{ color: #33AAAA !important; } /* Literal.String.Regex */
pre.highlight .ss	{ color: #FFCC33 !important; } /* Literal.String.Symbol */

pre.highlight .gd	{ background-color: #FFCCCC !important; border: 1px solid #CC0000 !important; } /* Generic.Deleted */
pre.highlight .gi	{ background-color: #CCFFCC !important; border: 1px solid #00CC00 !important; } /* Generic.Inserted */
pre.highlight .gr	{ color: #FF0000 !important; } /* Generic.Error */
pre.highlight .go	{ color: #AAAAAA !important; } /* Generic.Output */
pre.highlight .gt	{ color: #99CC66 !important; } /* Generic.Traceback */
pre.highlight .gh	{ color: #003300 !important; font-weight: bold !important; } /* Generic.Heading */
pre.highlight .gu	{ color: #003300 !important; font-weight: bold !important; } /* Generic.Subheading */
pre.highlight .gp	{ color: #000099 !important; font-weight: bold !important; } /* Generic.Prompt */
pre.highlight .gs	{ font-weight: bold !important; } /* Generic.Strong */
pre.highlight .ge	{ font-style: italic !important; } /* Generic.Emph */



/*
**	Doxyrest fix coloring for sphinx doc auto-links
*/

.highlight a.reference,
.highlight a.reference:visited
{	/* disable coloring for HTML links, instead show them as underlined */
	color: inherit !important;
	text-decoration: underline !important;
}
pre.highlight .cp + .n ~ .cp,
pre.highlight .cp + .n ~ a.reference
{	/* fix faulty cpplexer highlighting when a code block is only one line, and has a preproc */
	color: #F8F8F2 !important;
	font-style: normal;
}
pre.highlight .p + a.reference,
pre.highlight .k + a.reference,
pre.highlight .c + a.reference,
pre.highlight .c1 + a.reference,
pre.highlight.doxyrest-title-code-block a.reference
{	/* heuristically color C types in code blocks despite them being styled as HTML links */
	color: #66D9EF !important;
	font-style: italic !important;
}
pre.highlight.literal-block:not(.doxyrest-title-code-block):not(.doxyrest-overview-code-block)
{	/* indent code blocks that aren't section titles */
	margin: 30px;
}



/* Doxyrest-specific CSS rule fixes */

#detailed-documentation > .section
{
	margin-top: 80px !important;
}

.doxyrest-title-code-block
{
	margin-top: 80px !important;
	font-size: 15px !important;
}

.wy-nav-content
{
	max-width: 1000px !important;
}

table.docutils
{
	max-width: 100% !important;
	table-layout: fixed !important;
}
table.docutils tr td
{
	max-width: 100% !important;
	word-wrap: break-word !important;
	white-space: normal !important;
}



/* EasyTabs CSS for multiple-language code examples */

.tab
{
	display: inline-block;
	zoom: 1;
	*display: inline;
	border: 1px solid #E7E7E7;
}

.tab-container > ul > li:first-child
{
	border-radius: 0.3em 0em 0em 0.3em;
}

.tab-container > ul > li:last-child
{
	border-radius: 0em 0.3em 0.3em 0em;
}

.tab a
{
	font-size: 14px;
	line-height: 2em;
	display: block;
	padding: 0 10px;
	outline: none;
	text-decoration: none;
}

.tab a:hover
{
	font-weight: bold;
}

.tab a.active
{
	font-weight: bold;
	color: #FF7A00;
}

.tab a:visited
{
	color: #FF7A00;
}

.tab.active
{
	position: relative;
}

.tab:not(.active) a
{
	color: grey;
}

.tab-container > ul
{
	padding-left: 0px;
	margin: 0px 0px;
	padding-bottom: 5px;
}

li > div.tab-container
{
	padding-top: 15px;
}

.example-container
{
	height: 800px;
}
