# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Project

%%if is(type,program):/%[name]%
%%if is(type,library):/%[name]%.*
%%if tracked(_if_ask_mkfile/mkfile/_if_ask_testsuite/rules/test.mk):/%[name]%-test

# Build
%%if is(lang,c|cpp|cs|rs)
/obj/
/bin/
%%else
/build/
%%end if
/dist/

# Testing
/coverage/

# Logs
/log/
/logs/
log.txt
*.log

# Reference material
/ref/

# local environment variables files
.env
.env.dev
.env.test
.env.prod
.env.local
.env.dev.local
.env.test.local
.env.prod.local



%%if is(lang,c)

# C

# C intermediary build files
*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
# Libraries (static)
*.a
*.la
*.lo
*.lib
# Libraries (dynamic)
*.def
*.dll
*.so
*.so.*
*.dylib
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.stackdump
# Debug files
*.dSYM/
*.su
*.idb
*.pdb
# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf



%%end if
%%if matches(lang,[jt]sx?)

# JavaScript

# node: Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release
# node: Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
# npm
package-lock.json
# npm: Dependency directory
node_modules/
# npm: Optional npm cache directory
.npm
# npm: logs
npm-debug.log*
# npm: Output of 'npm pack'
*.tgz
# yarn: Dependency directory
jspm_packages/
# Yarn Integrity file
.yarn-integrity
# yarn logs
yarn-debug.log*
yarn-error.log*
# TypeScript
# TypeScript: v1 declaration files
typings/
# TypeScript: cache
*.tsbuildinfo
# eslint
# eslint: Optional eslint cache
.eslintcache
# other tools
# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
# parcel-bundler cache (https://parceljs.org/)
.cache
# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and *not* Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public
/.pnp
.pnp.js
# Optional REPL history
.node_repl_history
# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov
# Coverage directory used by tools like istanbul
coverage
*.lcov
# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt
# Bower dependency directory (https://bower.io/)
bower_components
# node-waf configuration
.lock-wscript
# Next.js build output
.next
# Nuxt.js build / generate output
.nuxt
dist
build
# vuepress build output
.vuepress/dist
# Serverless directories
.serverless/
# FuseBox cache
.fusebox/
# DynamoDB Local files
.dynamodb/
# TernJS port file
.tern-port
# Runtime data
pids
*.pid
*.seed
*.pid.lock



%%end if



# OS-specific files

# Linux
# MacOS
.DS-Store
.DS_Store
# Windows

# IDE-specific files

*.code-workspace
# Sublime text
*.sublime-workspace
# Visual Studio
.vs/
# Visual Studio Code
.vscode/



# cccmk
.cccmk_diff_*/
.cccmk_update/
