# PROJECT

/%[name]%
%%if tracked(mkfile/rules/_if_ask_testsuite/test.mk):/%[name]%-test

/obj/
/bin/
/dist/
/log/
/ref/



# OS/IDE

### Linux
### MacOS
.DS-Store
.DS_Store
### Windows

### Sublime text
*.sublime-workspace
### Visual Studio
.vs/
### Visual Studio Code
.vscode/



# cccmk
/.cccmk_diff_*/
/.cccmk_update/



# C

### C intermediary build files
*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
### Libraries (static)
*.a
*.la
*.lo
*.lib
### Libraries (dynamic)
*.def
*.dll
*.so
*.so.*
*.dylib
### Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.stackdump
### Debug files
*.dSYM/
*.su
*.idb
*.pdb
### Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
